<%= form_for(@note,{:class=>"form-control"}) do |f| %>
    <% if @note.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

          <ul>
            <% @note.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.hidden_field :appointment_schedule_id %>
    <div class="field-control">
      <%= f.label :note,:class=>"label-control" %><br>
      <%= f.text_area :note,:class=>"form-control"%>
    </div>

    <div class="actions">
      <%= f.submit :class=>"btn btn-success"%>
    </div>
<% end %>
