<div class="col-lg-12">
  <h1>Editing note</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @note , :class=>'btn btn-info' %>
  <%= link_to 'Back', notes_path , :class=>'btn btn-warning'  %>
</div>