<div class="col-lg-12">
  <h1>Listing notes</h1>

  <table class="table">
    <thead>
    <tr>
      <th>Note</th>
      <th>Appointment schedule</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @notes.each do |note| %>
        <tr>
          <td><%= note.note %></td>
          <td><%= note.appointment_schedule_id %></td>
          <td><%= link_to 'Show', note ,:class => "btn btn-info" %></td>
          <td><%= link_to 'Edit', edit_appointment_schedule_note_path(note.appointment_schedule, note) ,:class => "btn btn-primary"%></td>
          <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger" %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

</div>