
<p>
  <strong>Note:</strong>
  <%= @note.note %>
</p>

<p>
  <strong>Appointment schedule:</strong>
  <%= "#{@note.appointment_schedule} " %>
</p>

<%= link_to 'Edit', edit_appointment_schedule_note_path(@note.appointment_schedule, @note) , :class=>'btn btn-info' %>
<%= link_to 'Back', notes_path , :class=>'btn btn-warning' %>
