<%= form_for(@invoice,{:class=>"form-control"}) do |f| %>
    <% if @invoice.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

          <ul>
            <% @invoice.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <% unless @invoice.patient_id %>
        <div class="field-control">
          <%= label_tag :patient_id ,"Choose patient(Step 1/3):",:class=>"label-control" %><br>
          <%= f.select(:patient_id, options_for_select(@patients.map{|patient| [ "#{patient}",patient.id]} ), :include_blank => true )%>
        </div>
    <% end %>
    <% if @invoice.patient_id %>
        <% if @invoice.appointment_schedule_id %>
            <%= label_tag :appointment_schedule_id, "Final step:",:class=>"label-control" %><br>
            <%= f.hidden_field :appointment_schedule_id %>
            <div class="field-control ">
              <%= f.label :diagnostic_code,:class=>"label-control" %><br>
              <%= f.text_field :diagnostic_code ,:class=>"form-control", :require=>true%>
            </div>
            <div class="field-control ">
              <%= f.label :price,:class=>"label-control" %><br>
              <%= f.text_field :price ,:class=>"form-control", :require=>true%>
            </div>
        <% else %>
            <div class="field-control" id="appointment_schedule">
              <%= label_tag :appointment_schedule_id, "Choose Appointment schedule(Step 2/3):",:class=>"label-control" %><br>
              <%= f.select(:appointment_schedule_id, options_for_select(@app_schedule.map{|app| ["#{app}",app.id]}), :include_blank => true ) %>
            </div>
        <% end %>
        <%= f.hidden_field :patient_id %>

        <div class="actions">
          <%= f.submit :class=>"btn btn-success" %>
        </div>

    <% end %>
<% end %>
<script>
    $(document).ready(function(e){
        $( "#invoice_patient_id").on('change',function(e){
            patient = $( "#invoice_patient_id").val();
            $.getScript('/invoices/new.js?patient_id='+patient);
        });
        $( "#invoice_appointment_schedule_id").on('change',function(e){
            patient = $( "#invoice_patient_id").val();
            app = $( "#invoice_appointment_schedule_id").val();
            $.getScript('/invoices/new.js?patient_id='+patient+'&appointment_schedule_id='+app);
        });
    });
</script>