<div class="col-lg-12">
  <h1>Editing invoice</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @invoice  ,:class=>"btn btn-info" %>
  <%= link_to 'Back', invoices_path ,:class=>"btn btn-warning" %>
</div>
