<div class="col-lg-12">
  <%= link_to 'New Invoice', new_invoice_path ,:class => "btn btn-success" %>
  <h1>Listing invoices</h1>

  <table class="table">
    <thead>
    <tr>
      <th>Patient</th>
      <th>Appointment schedule</th>
      <th>Diagnostic code</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @invoices.each do |invoice| %>
        <tr>
          <td><%= invoice.patient %></td>
          <td><%= invoice.appointment_schedule %></td>
          <td><%= invoice.diagnostic_code %></td>
          <td><%= invoice.price %></td>
          <td><%= link_to 'Print View', invoice ,:class => "btn btn-info" %></td>
          <td><%= link_to 'Edit', edit_invoice_path(invoice) ,:class => "btn btn-primary" %></td>
          <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn btn-danger" %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= will_paginate @invoices %>
</div>