
<p>
  <strong>Invoice Number:</strong>
  <%= @invoice.id %>
</p>
<p>
  <strong>Patient:</strong>
  <%= @invoice.patient %>
</p>

<p>
  <strong>Appointment Schedule:</strong>
  <%= @invoice.appointment_schedule %>
</p>

<p>
  <strong>Diagnostic Code:</strong>
  <%= @invoice.diagnostic_code %>
</p>
<p>
  <strong>Price:</strong>
  <%= @invoice.price %>
</p>
<p>
  <strong>Date:</strong>
  <%= "X____________________" %>
</p>
<p>
  <strong>Signature:</strong>
  <%= "X____________________" %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) ,:class=>"btn btn-primary" %>
<%= link_to 'Back', invoices_path,:class=>"btn btn-warning" %>
