
<%= form_for(@diagnostic_code ,{:class=>"form-control"}) do |f| %>
    <% if @diagnostic_code.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@diagnostic_code.errors.count, "error") %> prohibited this diagnostic_code from being saved:</h2>

          <ul>
            <% @diagnostic_code.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field-control">
      <%= f.label :code,:class=>"label-control" %><br>
      <%= f.text_field :code,:class=>"form-control", :require=>true%>
    </div>
    <div class="field-control">
      <%= f.label :name,:class=>"label-control" %><br>
      <%= f.text_field :name,:class=>"form-control", :require=>true%>
    </div>
    <div class="field-control ">
      <%= f.label :price,:class=>"label-control" %><br>
      <%= f.text_field :price ,:class=>"form-control", :require=>true%>
    </div>
    <div class="actions">
      <%= f.submit :class=>"btn btn-success"%>
    </div>
<% end %>
