<div class="col-lg-12">
  <h1>Editing Diagnostic Code</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @diagnostic_code , :class=>'btn btn-info' %>
  <%= link_to 'Back', diagnostic_codes_path, :class=>'btn btn-warning'  %>
</div>