<div class="col-lg-12">  <%= link_to 'New Diagnostic code', new_diagnostic_code_path,:class => "btn btn-success" %>
  <h1>Listing Diagnostic Codes</h1>

  <table class="table">
    <thead>
    <tr>
      <th>Diagnostic Code</th>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @diagnostic_codes.each do |diagnostic_code| %>
        <tr>
          <td><%= diagnostic_code.code %></td>
          <td><%= diagnostic_code.name %></td>
          <td><%= diagnostic_code.price %></td>
          <td><%= link_to 'Show', diagnostic_code,:class => "btn btn-info" %></td>
          <td><%= link_to 'Edit', edit_diagnostic_code_path(diagnostic_code),:class => "btn btn-primary" %></td>
          <td><%= link_to 'Destroy', diagnostic_code, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger" %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @diagnostic_codes %>
  <br>


</div>
