

<p>
  <strong>Code:</strong>
  <%= @diagnostic_code.code %>
</p>
<p>
  <strong>Name:</strong>
  <%= @diagnostic_code.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @diagnostic_code.price %>
</p>

<%= link_to 'Edit', edit_diagnostic_code_path(@diagnostic_code) , :class=>'btn btn-info' %>
<%= link_to 'Back', diagnostic_codes_path, :class=>'btn btn-warning' %>