<%= form_for(@physician ,{:class=>"form-control"}) do |f| %>
    <% if @physician.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@physician.errors.count, "error") %> prohibited this physician from being saved:</h2>

          <ul>
            <% @physician.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field-control">
      <%= f.label :name,:class=>"label-control" %><br>
      <%= f.text_field :name ,:class=>"form-control"%>
    </div>
    <div class="actions">
      <%= f.submit :class=>"btn btn-success"%>
    </div>
<% end %>

