<div class="col-lg-12">
  <h1>Editing physician</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @physician ,:class=>"btn btn-info" %>
  <%= link_to 'Back', physicians_path,:class=>"btn btn-warning" %>
</div>