<div class="col-lg-12">
  <%= link_to 'New Physician', new_physician_path,:class=>"btn btn-success" %>
  <h1>Listing physicians</h1>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @physicians.each do |physician| %>
        <tr>
          <td><%= physician.name %></td>
          <td><%= link_to 'Show', physician ,:class=>"btn btn-info"%></td>
          <td><%= link_to 'Edit', edit_physician_path(physician) ,:class=>"btn btn-primary"%></td>
          <td><%= link_to 'Destroy', physician, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-danger" %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @patients %>
  <br>


</div>