<div class="col-lg-12">


  <p>
    <strong>Name:</strong>
    <%= @physician.name %>
  </p>

  <%= link_to 'Edit', edit_physician_path(@physician),:class=>"btn btn-primary" %>
  <%= link_to 'Back', physicians_path,:class=>"btn btn-warning" %>
</div>
