<table class="table table-responsive table-bordered">
  <thead>
  <tr>
    <th> Appointment Date </th>
    <th> Diagnostic Code </th>
    <th> Price </th>
  </tr>
  </thead>
  <tbody>
  <% final_total = 0 %>
  <% @physicians.each do |physician| %>
      <tr>
        <th colspan="3" style="background-color: #e5e5e5; text-align: center; font-size: 14px; text-decoration: underline; "> <%= physician.name %> </th>
      </tr>


      <%  total = 0 %>
      <% physician.appointment_schedules.each do |appointment_schedule| %>
          <% if appointment_schedule.diagnostic_code %>
              <tr>
                <th> <%= appointment_schedule.time_appointment %> </th>
                <th> <%= appointment_schedule.diagnostic_code %> </th>
                <th> <%= appointment_schedule.diagnostic_code.price %> </th>
                <% total += appointment_schedule.diagnostic_code.price || 0 %>
              </tr>
          <% end %>
      <% end %>
      <tr style="background-color: #e4b9b9;">
        <th> Total </th>
        <th> </th>
        <th> <%= "#{total}" %> </th>
        <% final_total += total|| 0 %>
      </tr>
  <% end %>
  <tr style="background-color: #4682B4">
    <th> Total for all physicians </th>
    <th> </th>
    <th> <%= "#{final_total}" %> </th>
  </tr>
  </tbody>
</table>