<div class="col-lg-12">
  <table class="table">
    <thead>
    <tr>
      <th>Patient</th>
      <th>Appointment Date</th>
      <th>Appointment Time</th>
      <th>Reason</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @rdvs.each do |rdv| %>
        <tr>
          <td><%= rdv.patient.name %></td>
          <td><%= rdv.date_rdv %></td>
          <td><%= rdv.hour_rdv %></td>
          <td><%= rdv.reason %></td>
          <td><%= link_to 'Generate Invoice', edit_appointment_schedule_path(rdv) ,:class => "btn btn-primary" %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>