<div class="col-lg-12">
  <%= button_tag "Search" , class: 'btn btn-warning',:onclick=> '$("#search_fields").toggle();',:style=>"margin-bottom: 2%;" %>
  <div class="filter" style="margin-bottom: 7%; display: none;" id="search_fields">
    <%= form_tag "/search", :remote=> true do  %>
        <div class="field-control" id="time_work">
          <%= label_tag :physician ,"Physician",:class=>"label-control" %><br>
          <%= select_tag( :physician ,options_for_select(Physician.all.map{|phys| [ phys.name,phys.id]}),{:class=>"form-control"}) %>
        </div>
        <div class="field-control" id="time_work">
          <%= label_tag :begin,"Begin date" ,:class=>"label-control" %>
          <%= text_field_tag :begin_date %>

          <%= label_tag :end,"End date" ,:class=>"label-control" %>
          <%= text_field_tag :end_date %>
        </div>
        <%= submit_tag "Search", :class=>'btn btn-info col-lg-offset-3' %>
    <% end %>
    <script>
        $(function() {
            $( "#begin_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
            $( "#end_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
        });
    </script>
  </div>
  <div class="table_report">
    <%= render partial: 'table_report' %>
  </div>
</div>