
<%= form_for(@patient,{:class=>"form-control"}) do |f| %>
    <% if @patient.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

          <ul>
            <% @patient.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field-control">
      <%= f.label :first_name ,:class=>"label-control" %><br>
      <%= f.text_field :first_name  ,:class=>"form-control"%>
    </div>
    <div class="field-control">
      <%= f.label :last_name ,:class=>"label-control" %><br>
      <%= f.text_field :last_name  ,:class=>"form-control"%>
    </div>
    <div class="field-control">
      <%= f.label :date_of_birth,:class=>"label-control" %><br>
      <%= f.text_field :date_of_birth  ,:class=>"form-control"%>
    </div>
    <div class="field-control">
      <%= f.label :address,:class=>"label-control" %><br>
      <%= f.text_area :address  ,:class=>"form-control"%>
    </div>
    <div class="field-control">
      <%= f.label :phone ,:class=>"label-control" %><br>
      <%= f.text_field :phone  ,:class=>"form-control"%>
    </div>
    <div class="field-control">
      <%= f.label :email ,:class=>"label-control" %><br>
      <%= f.text_field :email,:class=>"form-control"%>
    </div>
    <div class="actions">
      <%= f.submit  :class=>"btn btn-success"%>
    </div>
<% end %>
<script>
    $(function() {
        $( "#patient_date_of_birth" ).datepicker({ dateFormat: 'yy-mm-dd' });
    });
</script>