<div class="col-lg-12">
  <h1>Editing patient</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @patient ,:class=>"btn btn-info" %>
  <%= link_to 'Back', patients_path ,:class=>"btn btn-warning" %>
</div>