<div class="col-lg-12">
  <h1>Listing Patients</h1>

  <table class="table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date of Birth</th>
      <th>Address</th>
      <th>Phone</th>
      <th>E-Mail</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @patients.each do |patient| %>
        <tr>
          <td><%= patient.first_name %></td>
          <td><%= patient.last_name %></td>
          <td><%= patient.date_of_birth %></td>
          <td><%= patient.address %></td>
          <td><%= patient.phone %></td>
          <td><%= patient.email %></td>
          <td><%= link_to 'Add/View Appointment', patient ,:class=>"btn btn-info"%></td>
          <td><%= link_to 'Edit', edit_patient_path(patient),:class=>"btn btn-primary"%></td>
          <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"btn btn-danger"%></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= will_paginate @patients %>
</div>