<div class="col-lg-12">


  <p>
    <strong>First Name:</strong>
    <%= @patient.first_name %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= @patient.last_name %>
  </p>

  <p>
    <strong>Date of Birth:</strong>
    <%= @patient.date_of_birth %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @patient.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @patient.phone %>
  </p>

  <p>
    <strong>E-Mail:</strong>
    <%= @patient.email %>
  </p>
  <%= link_to 'All Appointments', patient_appointment_schedules_path(@patient)  ,:class=>"btn btn-info" %>
  <%= link_to 'New Appointment', new_patient_appointment_schedule_path(@patient)  ,:class=>"btn btn-info" %>
  <%= link_to 'Edit', edit_patient_path(@patient) ,:class=>"btn btn-primary" %>
  <%= link_to 'Back', patients_path ,:class=>"btn btn-warning" %>
</div>