
<%= form_for(@appointment_schedule,{:class=>"form-control"}) do |f| %>
    <% if @appointment_schedule.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@appointment_schedule.errors.count, "error") %> prohibited this appointment_schedule from being saved:</h2>

          <ul>
            <% @appointment_schedule.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.hidden_field :patient_id %>
    <% if params[:physician_id] %>
        <div class="field-control" style="display: none;">
    <% else %>
        <div class="field-control">
    <% end %>
    <%= f.label :physician_id ,:class=>"label-control" %><br>
    <%= f.select( :physician_id,options_for_select(Physician.all.map{|phys| [ phys.name,phys.id]},@appointment_schedule.physician_id ),:include_blank=> true)%>
    </div>
    <% if params[:physician_id] %>
        <div class="field-control" style="display: none;">
    <% else %>
        <div class="field-control">
    <% end %>
    <%= f.label :date ,:class=>"label-control" %><br>
    <%= f.text_field :date_rdv, :require=>true%>
    </div>
    <div class="field-control" id="time_work"> </div>

    <% unless params[:action] == "new" %>
        <div class="field-control">
          <%= f.label :diagnostic_code_id ,:class=>"label-control" %><br>
          <%= f.select(:diagnostic_code_id,options_for_select(DiagnosticCode.all.order("name ASC").map{|code| [ "#{code.code}: #{code.name}",code.id]},@appointment_schedule.diagnostic_code_id ),:include_blank=> true) %>
        </div>
    <% end %>
    <% if params[:physician_id] %>
        <div class="field-control" style="display: none;">
    <% else %>
        <div class="field-control">

    <% end %>

    <%= f.label :reason ,:class=>"label-control" %><br>
    <%= f.text_field :reason ,:class=>"form-control" %>
    </div>

    <div class="actions" >
      <%= f.submit "Submit",:class=>"btn btn-success" %>
    </div>
<% end %>
<script>
    $(function() {
        $( "#appointment_schedule_date_rdv" ).datepicker({ dateFormat: 'yy-mm-dd' });
    });
    $(document).ready(function(){
        $( "#appointment_schedule_date_rdv").on('change',function(e){
            date = $( "#appointment_schedule_date_rdv").val();
            phys = $( "#appointment_schedule_physician_id").val();
            $.getScript('/get_time_available.js?date_rdv='+date+'&physician_id='+phys);
        });
        $( "#appointment_schedule_physician_id").on('change',function(e){
            date = $( "#appointment_schedule_date_rdv").val();
            phys = $( "#appointment_schedule_physician_id").val();
            $.getScript('/get_time_available.js?date_rdv='+date+'&physician_id='+phys);
        });

    });
</script>