<div class="col-lg-12">
  <% if params[:physician_id] %>
      <h1>Assign Diagnostic code</h1>
  <% else %>
      <h1>Editing appointment</h1>
  <% end %>
  <%= render 'form' %>

  <%= link_to 'Show', @appointment_schedule ,:class=>"btn btn-info" %>
  <%= link_to 'Back', appointment_schedules_path,:class=>"btn btn-warning" %>
</div>
