<div class="col-lg-12">
  <% if params[:patient_id] %>
      <%= link_to 'New Appointment', new_patient_appointment_schedule_path(params[:patient_id])  ,:class=>"btn btn-info" %>
  <% end %>
  <h1>Listing Appointments</h1>

  <table class="table">
    <thead>
    <tr>
      <% if params[:physician_id] %>
          <th>Patient</th>
      <% end %>
      <% if params[:patient_id] %>
          <th>Physician</th>
      <% end %>
      <th>Appointment Date</th>
      <th>Appointment Time</th>
      <th>Reason</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @appointment_schedules.each do |rdv| %>
        <tr>
          <% if params[:physician_id] %>
              <th><%= rdv.patient %></th>
          <% end %>
          <% if params[:patient_id] %>
              <th><%= rdv.physician %></th>
          <% end %>
          <td><%= rdv.date_rdv %></td>
          <td><%= rdv.hour_rdv %></td>
          <td><%= rdv.reason %></td>
          <% if params[:physician_id] %>

              <td><%= link_to 'Show', physician_appointment_schedule_path(rdv.physician,rdv),:class => "btn btn-info" %></td>
              <% if rdv.diagnostic_code_id %>
                  <td><%= link_to 'Re-assign Diagnostic code', edit_physician_appointment_schedule_path(rdv.physician,rdv) ,:class => "btn btn-info" %></td>
              <% else %>
                  <td><%= link_to 'Assign Diagnostic code', edit_physician_appointment_schedule_path(rdv.physician,rdv) ,:class => "btn btn-primary" %></td>
              <% end %>
              <td><%= link_to 'Give notes', new_appointment_schedule_note_path(rdv),:class => "btn btn-info" %></td>
          <% else %>
              <td><%= link_to 'Show', patient_appointment_schedule_path(rdv.patient,rdv),:class => "btn btn-info" %></td>
              <td><%= link_to 'Edit', edit_patient_appointment_schedule_path(rdv.patient,rdv) ,:class => "btn btn-primary" %></td>
              <td><%= link_to 'Cancel Appointment', patient_appointment_schedule_path(rdv.patient,rdv), method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn btn-danger" %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>


  <br>
  <%= will_paginate @appointment_schedules %>
</div>