
<h3><%= link_to "Patient information:", patient_path(@appointment_schedule.patient) %></h3>
<p>
  <%=  @appointment_schedule.patient  %>
</p>
<h3> Appointment Schedule Information:</h3>
<p>
  <strong>Appointment Date:</strong>
  <%= @appointment_schedule.date_rdv %>
</p>

<p>
  <strong>Appointment Time:</strong>
  <%= @appointment_schedule.hour_rdv %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @appointment_schedule.reason || 'N/A' %>
</p>
<%  if @appointment_schedule.notes and @appointment_schedule.notes.present? %>
    <h1> Notes:</h1>
    <ul>
      <% @appointment_schedule.notes.each do |note| %>
          <li>
            <%= note.note %>
          </li>
      <% end%>
    </ul>
<% end %>
<%= link_to 'Edit', edit_appointment_schedule_path(@appointment_schedule) ,:class=>"btn btn-primary" %>
<%= link_to 'Back', appointment_schedules_path ,:class=>"btn btn-warning" %>
