/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.actions
{
    margin-top: 1%;
}
.notice{
    background-color: #5cb85c;
    border-bottom-color: #2b542c;
    color: #2b542c;
}
.error{
    background-color: #ce8483;
    border-bottom-color: #c12e2a;
    color: #c12e2a;
}