<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Home" , root_path, class:"navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to " Add Physician", physicians_path %></li>
            <li><%= link_to " Add Diagnostic Codes", diagnostic_codes_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Report", "/report" %></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Office Worker <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Generate Invoice", new_invoice_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Invoices", invoices_path %></li>

          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Physician <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% Physician.order("name asc").each do |phys| %>
                <li><%= link_to phys.name , physician_appointment_schedules_path(phys) %></li>
            <% end %>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Patient <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "New Patient Form", new_patient_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Add Appointment", patients_path %></li>
          </ul>
        </li>
      </ul>




    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>