<!DOCTYPE html>
<html>
<head>
  <title>Appointment Application</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <%= render partial: 'layouts/navigation' %>
  <% flash.each do |type, message| %>
      <div class="alert <%= type %>">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
